/*      Form choices settings        */

.rad-choices input[type="radio"] {
    cursor: pointer;
}
  
.rad-choices label {
    font-size: 16px;
    cursor: pointer;
}


/*      Table entry settings         */

#tentry{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

#tentry td, #tentry th {
    
    border: 1px solid #9c9595;
    padding: 6px;
}
#tentry tr:nth-child(even){
    background-color: #f2f2f2;
}

#tentry tr:hover{
    background-color: #ddd;
}

#tentry th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}


/*      Image display setting        */

.row {
    display: flex;
    justify-content: space-between;
  }
  

div.img_disp{
    padding: 18px;
    float: center;
    width: 220px;
}

div.img_disp img{
    width: 100%;
    height: auto;
}

div.img_disp img:hover{
    opacity: 0.8;
    cursor: pointer;
}


/*      Video display setting        */

div.vid_disp{
    margin: 15px;
    float: center;
    width: 280px;
}

div.vid_disp iframe{
    width: 100%;
    height: auto;
}

div.vid_disp iframe:hover{
    opacity: 0.8;
    cursor: pointer;
}



/*      Scroll Up functionality      */

#scrollbtn {
    background-color: rgb(54, 95, 138);
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: whitesmoke;
    padding: 18px;
    cursor: pointer;
    border-radius: 90px;
    font-size: 14px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    animation: fadeIn 0.2s;
    transition: opacity 0.4s;
}

#scrollbtn:hover {
    background-color: #555555;
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 0.8;
    }
}



/*      Overlay functionality        */


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}
  
  /* Modal Content (image) */


div.modal-content-img img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    display: block;
    width: auto;
    height: 80%;
}

div.modal-content-vid iframe{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    display: block;
    width: 75%;
    height: 75%;
}


.error {
    font-size: small;
}

/*      Zoom Meeting Title & Button      */
.ZMM {
    font-size: 2em;
    width: fit-content;
    font-weight: bolder;
}
.zoom {
    object-position: right;
    font-size: large;
    background-color: rgb(11, 96, 170);
    opacity: 0.90;
    z-index: 1;
    border: none;
    outline: none;
    color: aliceblue;
    padding: 18px;
    cursor: pointer;
    border-radius: 5px;
}

/*      Task Box Style      */
.highlighted-entr {
    size: 30px;
    left: 20%;
    right: 20%;
    background-color: #f6f7f9;
    border-radius: 10px;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: -4px 5px #2d8cff; 
}

.new-entr {
    size: 30px;
    left: 20%;
    right: 20%;
    background-color: #f6f7f9;
    border-radius: 10px;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
}

.task {
    font-weight:bold;
    letter-spacing: -0.6px;
    font-size: 20px;
    color: black;
    padding-left:10px;
    padding-top: 10px;
}

.info{
    font-size: 16px;
    color: black;
    padding-left: 16px;
}

/*      Who Knows        */
.frm {
    border: groove 2px #747487;
    border-radius: 5px;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 24px;
}
.form-cntrl {
    font-size: 20px; 
    font-weight:normal;
}

.tb {
    font-size: large;
    width: 50px;
    padding: 16px;
}


.delete {
    padding: 20px;
    float: right;
    color: red;
    cursor: pointer;
}

.btn-update {
    color: #747487;
    padding: auto;
    cursor: pointer;
    float:right;
    border-radius: 5mm;
}

/*      Frame        */

.jaja {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

.empty-sched {
    color:#2d8cff;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}